### Credit:
This is a practice based on the courses of "dataschool.io"
All datasets downloaded from "dataschool.io"

In [18]:
import pandas as pd

In [19]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/sms.tsv"
sms = pd.read_table(path, header = None, names = ["label", "message"])

In [20]:
sms

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [21]:
sms.shape

(5572, 2)

In [22]:
sms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [23]:
sms.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [24]:
#Create labels in a new column based of entries of other column
sms["label_num"] = sms["label"].map({
    "ham": 0,
    "spam": 1
})
sms

     label                                            message  label_num
0      ham  Go until jurong point, crazy.. Available only ...          0
1      ham                      Ok lar... Joking wif u oni...          0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3      ham  U dun say so early hor... U c already then say...          0
4      ham  Nah I don't think he goes to usf, he lives aro...          0
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...          1
5568   ham               Will ü b going to esplanade fr home?          0
5569   ham  Pity, * was in mood for that. So...any other s...          0
5570   ham  The guy did some bitching but I acted like i'd...          0
5571   ham                         Rofl. Its true to its name          0

[5572 rows x 3 columns]

In [25]:
X = sms["message"]
y = sms["label_num"]
print(X.shape)
print(y.shape)

(5572,)
(5572,)

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 40
)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(4179,)
(4179,)
(1393,)
(1393,)

In [28]:
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_train_dtm

<4179x7494 sparse matrix of type '<class 'numpy.int64'>'
	with 55727 stored elements in Compressed Sparse Row format>

In [29]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<1393x7494 sparse matrix of type '<class 'numpy.int64'>'
	with 17116 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
nb = MultinomialNB()
nb.fit(X_train_dtm, y_train)

MultinomialNB()

In [32]:
y_pred_class = nb.predict(X_test_dtm)

In [33]:
accuracy_score(y_test, y_pred_class)

0.9820531227566404