In [1168]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer

In [1169]:
titanicData = pd.read_csv('http://bit.ly/kaggletrain', index_col = None)
titanicData

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1170]:
titanicData.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [1171]:
titanicData.shape

(891, 12)

In [1172]:
titanicData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [1173]:
cols = ["Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Embarked", "Fare"]
titanicData_X = titanicData[cols]
titanicData_y = titanicData["Survived"]
titanicData_X

,Pclass,Name,Sex,Age,SibSp,Parch,Embarked,Fare
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,S,7.2500
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,C,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,S,7.9250
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,S,53.1000
4,3,"Allen, Mr. William Henry",male,35.0,0,0,S,8.0500
...,...,...,...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,S,13.0000
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,S,30.0000
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,S,23.4500
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,C,30.0000
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,Q,7.7500

In [1174]:
titanicData_y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [1175]:
titanicData_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Embarked  889 non-null    object
 7   Fare      891 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

### Required transformations
- Pclass: None
- Name: CountVectorizer
- Sex: Categorical to Numerical
- Age: Missing value, To numerical
- Embarked: To numerical
- Fare: None

### Steps
1- "Pclass", "Name", "Sex", "SibSp", "Parch", "Fare"
2- "Pclass", "Name", "Sex", "SibSp", "Parch", "Fare", "Age"
3- "Pclass", "Name", "Sex", "SibSp", "Parch", "Fare", "Age", "Embarked"

In [1176]:
step1Cols = ["Pclass", "Name", "Sex", "SibSp", "Parch", "Fare"]
step2Cols = ["Pclass", "Name", "Sex", "SibSp", "Parch", "Fare","Age"]
step3Cols = ["Pclass", "Name", "Sex", "SibSp", "Parch", "Fare", "Age", "Embarked"]

### Step 1

In [1177]:
knn = KNeighborsClassifier(n_neighbors = 8)
X_train, X_test, y_train, y_test = train_test_split(
    titanicData_X[step1Cols], titanicData_y,
    random_state = 40, test_size = 0.2
)

In [1178]:
X_train.shape

(712, 6)

In [1179]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 661 to 326
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  712 non-null    int64
 1   Name    712 non-null    object
 2   Sex     712 non-null    object
 3   SibSp   712 non-null    int64
 4   Parch   712 non-null    int64
 5   Fare    712 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 38.9+ KB

In [1180]:
y_train.shape

(712,)

###

In [1181]:
countVectorizer = CountVectorizer()
oneHotEncoder = OneHotEncoder()

In [1182]:
step1_columnTransformer = make_column_transformer(
    (countVectorizer, "Name"),
    (oneHotEncoder, ["Sex"]),
    remainder = "passthrough",
    n_jobs = -1
)

In [1183]:
step1_pipeLine = make_pipeline(step1_columnTransformer, knn)

In [1184]:
k_range = list(range(1, 31))
params = {"kneighborsclassifier__n_neighbors": k_range}

In [1185]:
gridSearchCV = GridSearchCV(
    step1_pipeLine, params, cv = 5, scoring = "accuracy", n_jobs = -1
)

In [1186]:
gridSearchCV.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=-1,
                                                          remainder='passthrough',
                                                          transformers=[('countvectorizer',
                                                                         CountVectorizer(),
                                                                         'Name'),
                                                                        ('onehotencoder',
                                                                         OneHotEncoder(),
                                                                         ['Sex'])])),
                                       ('kneighborsclassifier',
                                        KNeighborsClassifier(n_neighbors=8))]),
             n_jobs=-1,
             param_grid={'kneighborsclassifier__n_neighbors': [1, 2, 3, 4, 5, 6,
                                                               7, 8, 9, 10, 11,
                                                               12, 13, 14, 15,
                                                               16, 17, 18, 19,
                                                               20, 21, 22, 23,
                                                               24, 25, 26, 27,
                                                               28, 29, 30]},
             scoring='accuracy')

In [1187]:
gridSearchCV.best_score_

0.7626514330739682

In [1188]:
predicted = gridSearchCV.predict(X_test)

In [1189]:
print("Step 1 Accuracy:", accuracy_score(y_test, predicted))

Step 1 Accuracy: 0.8324022346368715

### End - Step 1

### Step 2

In [1190]:
knn = KNeighborsClassifier(n_neighbors = 8)
X_train, X_test, y_train, y_test = train_test_split(
    titanicData_X[step2Cols], titanicData_y,
    random_state = 40, test_size = 0.2
)

In [1191]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 661 to 326
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  712 non-null    int64
 1   Name    712 non-null    object
 2   Sex     712 non-null    object
 3   SibSp   712 non-null    int64
 4   Parch   712 non-null    int64
 5   Fare    712 non-null    float64
 6   Age     573 non-null    float64
dtypes: float64(2), int64(3), object(2)
memory usage: 44.5+ KB

In [1192]:
X_train.isna().sum()

Pclass      0
Name        0
Sex         0
SibSp       0
Parch       0
Fare        0
Age       139
dtype: int64

In [1193]:
step2_simpleImputer = SimpleImputer()

In [1194]:
step2_columnTransformer = make_column_transformer(
    (countVectorizer, "Name"),
    (oneHotEncoder, ["Sex"]),
    (step2_simpleImputer, ["Age"]),
    remainder = "passthrough",
    n_jobs = -1
)

In [1195]:
step2_pipeLine = make_pipeline(
    step2_columnTransformer, knn
)

In [1196]:
step2_gridSearchCV = GridSearchCV(
    step2_pipeLine, params, cv = 5, scoring = "accuracy", n_jobs = -1
)

In [1197]:
step2_gridSearchCV.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=-1,
                                                          remainder='passthrough',
                                                          transformers=[('countvectorizer',
                                                                         CountVectorizer(),
                                                                         'Name'),
                                                                        ('onehotencoder',
                                                                         OneHotEncoder(),
                                                                         ['Sex']),
                                                                        ('simpleimputer',
                                                                         SimpleImputer(),
                                                                         ['Age'])])),
                                       ('kneighborsclassifier',
                                        KNeighborsClassifier(n_neighbors=8))]),
             n_jobs=-1,
             param_grid={'kneighborsclassifier__n_neighbors': [1, 2, 3, 4, 5, 6,
                                                               7, 8, 9, 10, 11,
                                                               12, 13, 14, 15,
                                                               16, 17, 18, 19,
                                                               20, 21, 22, 23,
                                                               24, 25, 26, 27,
                                                               28, 29, 30]},
             scoring='accuracy')

In [1198]:
step2_gridSearchCV.best_score_

0.719078104993598

In [1199]:
predicted = step2_gridSearchCV.predict(X_test)
print("Step 2 Accuracy:", accuracy_score(y_test, predicted))

Step 2 Accuracy: 0.7318435754189944

### End - Step2

In [1200]:
knn = KNeighborsClassifier(n_neighbors = 8)
X_train, X_test, y_train, y_test = train_test_split(
    titanicData_X[step3Cols], titanicData_y,
    random_state = 40, test_size = 0.2
)

In [1201]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 661 to 326
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    712 non-null    int64
 1   Name      712 non-null    object
 2   Sex       712 non-null    object
 3   SibSp     712 non-null    int64
 4   Parch     712 non-null    int64
 5   Fare      712 non-null    float64
 6   Age       573 non-null    float64
 7   Embarked  711 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 50.1+ KB

In [1202]:
X_train["Embarked"].value_counts()

S    514
C    132
Q     65
Name: Embarked, dtype: int64

In [1203]:
ageImputer = SimpleImputer(strategy = "median")
embarkedOneHotEncoder = OneHotEncoder()
embarkedImputer = SimpleImputer(
    strategy = "constant",
    fill_value = "missing"
)
step3TransfomerPipeline = make_pipeline(embarkedImputer, embarkedOneHotEncoder)
#ageTransformer.fit_transform(X_train[["Embarked"]])

In [1204]:
embarkedOneHotEncoder.fit_transform(X_train[["Sex"]])
embarkedOneHotEncoder.categories_

[array(['female', 'male'], dtype=object)]

In [1205]:
step3TransfomerPipeline.fit_transform(X_train[["Embarked"]])

<712x4 sparse matrix of type '<class 'numpy.float64'>'
	with 712 stored elements in Compressed Sparse Row format>

In [1206]:
ageImputer.fit_transform(X_train[["Age"]])
ageImputer.statistics_

array([28.])

In [1207]:
step3_columnTransformer = make_column_transformer(
    (countVectorizer, "Name"),
    (oneHotEncoder, ["Sex"]),
    (ageImputer, ["Age"]),
    (step3TransfomerPipeline, ["Embarked"]),
    remainder = "passthrough",
    n_jobs = -1
)
step3_columnTransformer.fit_transform(X_train)

<712x1264 sparse matrix of type '<class 'numpy.float64'>'
	with 6781 stored elements in Compressed Sparse Row format>

In [1208]:
step3_pipeline = make_pipeline(
    step3_columnTransformer,
    knn
)
step3_pipeline.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(n_jobs=-1, remainder='passthrough',
                                   transformers=[('countvectorizer',
                                                  CountVectorizer(), 'Name'),
                                                 ('onehotencoder',
                                                  OneHotEncoder(), ['Sex']),
                                                 ('simpleimputer',
                                                  SimpleImputer(strategy='median'),
                                                  ['Age']),
                                                 ('pipeline',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['Embarked'])])),
                ('kneighborsclassifier', KNeighborsClassifier(n_neighbors=8))])

In [1209]:
step3_gridSearchCV = GridSearchCV(
    step3_pipeline,
    params,
    cv = 5,
    scoring = "accuracy",
    n_jobs = -1
)
step3_gridSearchCV.fit(X_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:918: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('columntransformer',
                                        ColumnTransformer(n_jobs=-1,
                                                          remainder='passthrough',
                                                          transformers=[('countvectorizer',
                                                                         CountVectorizer(),
                                                                         'Name'),
                                                                        ('onehotencoder',
                                                                         OneHotEncoder(),
                                                                         ['Sex']),
                                                                        ('simpleimputer',
                                                                         SimpleImputer(strategy='median'),
                                                                         ['Age']),
                                                                        ('pipeline',
                                                                         Pipeline(steps=[('simpleimputer',
                                                                                          SimpleImputer(fill_value='missing',
                                                                                                        strategy='constant')),
                                                                                         ('onehotencoder',
                                                                                          OneHotEncoder())]),
                                                                         ['Embarked'])])),
                                       ('kneighborsclassifier',
                                        KNeighborsClassifier(n_neighbors=8))]),
             n_jobs=-1,
             param_grid={'kneighborsclassifier__n_neighbors': [1, 2, 3, 4, 5, 6,
                                                               7, 8, 9, 10, 11,
                                                               12, 13, 14, 15,
                                                               16, 17, 18, 19,
                                                               20, 21, 22, 23,
                                                               24, 25, 26, 27,
                                                               28, 29, 30]},
             scoring='accuracy')

In [1210]:
pd.DataFrame(step3_gridSearchCV.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kneighborsclassifier__n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.061264,0.012969,0.053511,0.012224,1,{'kneighborsclassifier__n_neighbors': 1},0.608392,0.699301,0.739437,NaN,0.676056,NaN,NaN,1
1,0.052259,0.003893,0.036440,0.010410,2,{'kneighborsclassifier__n_neighbors': 2},0.664336,0.664336,0.697183,NaN,0.676056,NaN,NaN,28
2,0.045045,0.002364,0.043886,0.015146,3,{'kneighborsclassifier__n_neighbors': 3},0.706294,0.685315,0.767606,NaN,0.690141,NaN,NaN,27
3,0.046840,0.003517,0.039130,0.011406,4,{'kneighborsclassifier__n_neighbors': 4},0.720280,0.706294,0.718310,NaN,0.690141,NaN,NaN,26
4,0.044826,0.001031,0.038408,0.006891,5,{'kneighborsclassifier__n_neighbors': 5},0.713287,0.706294,0.704225,NaN,0.718310,NaN,NaN,25
5,0.051381,0.003634,0.046582,0.012422,6,{'kneighborsclassifier__n_neighbors': 6},0.713287,0.685315,0.683099,NaN,0.718310,NaN,NaN,24
6,0.055429,0.010084,0.043696,0.011674,7,{'kneighborsclassifier__n_neighbors': 7},0.699301,0.657343,0.697183,NaN,0.732394,NaN,NaN,23
7,0.065590,0.012313,0.041979,0.011497,8,{'kneighborsclassifier__n_neighbors': 8},0.699301,0.664336,0.704225,NaN,0.725352,NaN,NaN,22
8,0.051200,0.001886,0.044134,0.012312,9,{'kneighborsclassifier__n_neighbors': 9},0.720280,0.685315,0.697183,NaN,0.711268,NaN,NaN,21
9,0.051579,0.006011,0.039278,0.012500,10,{'kneighborsclassifier__n_neighbors': 10},0.727273,0.720280,0.711268,NaN,0.697183,NaN,NaN,20
10,0.045487,0.001598,0.037805,0.011349,11,{'kneighborsclassifier__n_neighbors': 11},0.748252,0.692308,0.711268,NaN,0.697183,NaN,NaN,19
11,0.045746,0.002348,0.035847,0.008863,12,{'kneighborsclassifier__n_neighbors': 12},0.727273,0.706294,0.690141,NaN,0.697183,NaN,NaN,18
12,0.047350,0.004053,0.038210,0.011059,13,{'kneighborsclassifier__n_neighbors': 13},0.713287,0.727273,0.697183,NaN,0.711268,NaN,NaN,17
13,0.046935,0.002055,0.042394,0.015437,14,{'kneighborsclassifier__n_neighbors': 14},0.734266,0.755245,0.704225,NaN,0.711268,NaN,NaN,16
14,0.069224,0.018951,0.071697,0.025833,15,{'kneighborsclassifier__n_neighbors': 15},0.748252,0.755245,0.697183,NaN,0.704225,NaN,NaN,15
15,0.091189,0.018454,0.083650,0.044230,16,{'kneighborsclassifier__n_neighbors': 16},0.748252,0.748252,0.683099,NaN,0.661972,NaN,NaN,14
16,0.088135,0.009857,0.069820,0.025520,17,{'kneighborsclassifier__n_neighbors': 17},0.734266,0.734266,0.683099,NaN,0.690141,NaN,NaN,13
17,0.082065,0.016531,0.061031,0.024508,18,{'kneighborsclassifier__n_neighbors': 18},0.769231,0.720280,0.669014,NaN,0.669014,NaN,NaN,12
18,0.059404,0.008606,0.046697,0.016771,19,{'kneighborsclassifier__n_neighbors': 19},0.727273,0.720280,0.676056,NaN,0.669014,NaN,NaN,11
19,0.048017,0.004070,0.042491,0.015784,20,{'kneighborsclassifier__n_neighbors': 20},0.741259,0.727273,0.690141,NaN,0.661972,NaN,NaN,10
20,0.059402,0.015212,0.036902,0.009683,21,{'kneighborsclassifier__n_neighbors': 21},0.727273,0.720280,0.697183,NaN,0.647887,NaN,NaN,9
21,0.053348,0.011219,0.043458,0.014470,22,{'kneighborsclassifier__n_neighbors': 22},0.720280,0.727273,0.690141,NaN,0.669014,NaN,NaN,8
22,0.057609,0.007166,0.054100,0.020856,23,{'kneighborsclassifier__n_neighbors': 23},0.692308,0.713287,0.697183,NaN,0.683099,NaN,NaN,7
23,0.055985,0.011360,0.059592,0.013214,24,{'kneighborsclassifier__n_neighbors': 24},0.699301,0.713287,0.690141,NaN,0.654930,NaN,NaN,6
24,0.050582,0.007580,0.039608,0.009848,25,{'kneighborsclassifier__n_neighbors': 25},0.671329,0.713287,0.683099,NaN,0.647887,NaN,NaN,5
25,0.051653,0.007408,0.046795,0.015089,26,{'kneighborsclassifier__n_neighbors': 26},0.678322,0.692308,0.690141,NaN,0.647887,NaN,NaN,4
26,0.050769,0.004534,0.039974,0.008369,27,{'kneighborsclassifier__n_neighbors': 27},0.699301,0.692308,0.683099,NaN,0.640845,NaN,NaN,3
27,0.048576,0.005899,0.044073,0.013583,28,{'kneighborsclassifier__n_neighbors': 28},0.678322,0.671329,0.683099,NaN,0.633803,NaN,NaN,2
28,0.057250,0.017191,0.037190,0.010412,29,{'kneighborsclassifier__n_neighbors': 29},0.678322,0.699301,0.654930,NaN,0.640845,NaN,NaN,29
29,0.055442,0.011269,0.034929,0.008237,30,{'kneighborsclassifier__n_neighbors': 30},0.671329,0.657343,0.683099,NaN,0.640845,NaN,NaN,30